<div class="max-w-3xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md"><%= t('users.edit_profile') %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, t('users.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, t('users.password') %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('users.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mt-4">
    <%= f.label :avatar, t('users.image') %><br>
    <%= image_tag(resource.avatar.url || resource.avatar.default_url, class: "h-16 w-16 rounded-full") %><br>
    <%= f.file_field :avatar, accept: "image/*" %>
    <%= f.hidden_field :avatar_cache %>
    <div class="mt-2">
      <label>
        <%= f.check_box :remove_avatar %> <%= t('users.remove_image') %>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(変更する場合は現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('users.update') %>
  </div>
<% end %>

<%= button_to t('users.delete_account'), registration_path(resource_name), data: { confirm: t('users.delete_account_confirm'), turbo_confirm: t('users.delete_account_confirm') }, method: :delete %>

<%= link_to "マイページへ戻る", user_path(current_user) %>
</div>
