<% content_for :title, "#{@user.name}さんの t('header.my_page')" %>
<div class="max-w-3xl mx-auto my-6 p-6 border border-gray-500 rounded-md bg-white">
  <h1 class="font-bold text-4xl"><%= t('users.my_page') %></h1>
  <div class="my-6 text-lg">
    <strong><%= t('users.name') %></strong>
    <%= @user.name %>
  <p class="my-6 text-lg">
    <strong><%= t('users.email') %></strong>
    <%= @user.email %>
  </p>
  </div>
  <p class="my-6 text-lg">
    <strong><%= t('users.image') %></strong>
    <% if @user.avatar_attachment&.attached? %>
      <%= image_tag @user.avatar.variant(resize_to_fill: [160,160]).processed, class: "h-16 w-16 rounded-full" %>
    <% else %>
      <%= image_tag "default_avatar.png", class: "h-16 w-16 rounded-full" %>
    <% end %>
  </p>

  <div class= "text-end font-semibold text-indigo-600 hover:text-indigo-500" >
    <%= link_to t('users.edit_profile'), edit_user_registration_path %>
  </div>
</div>
