<div class="max-w-3xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h1 class="font-bold text-4xl"><%= t('users.my_page') %></h1>
  <div class="mt-2">
    <strong><%= t('users.name') %></strong>
    <%= @user.name %>
  </div>
  <p>
    <strong><%= t('users.email') %></strong>
    <%= @user.email %>
  </p>
  <p>
    <strong><%= t('users.image') %></strong>
    <%= image_tag(@user.avatar? ? @user.avatar.url : @user.avatar.default_url,
              class: "h-16 w-16 rounded-full") %>
  </p>


  <div class="mt-6">
    <%= link_to t('users.edit_profile'), edit_user_registration_path, class: "text-indigo-600 hover:text-indigo-500 font-medium" %>
  </div>
</div>
