<div id="<%= dom_id(facility) %>" class="mx-12 my-2 rounded-md border border-gray-200 bg-white p-4 shadow-sm">
  <div class="flex flex-col gap-6">

    <!-- １段目：タイトル + カテゴリ ＋ 画像 -->
    <div class="flex items-start justify-end gap-4">
      <span class="shrink-0 px-2 py-0.5 text-xl rounded-full
        <%= category_badge_classes(facility.category) %>">
        <%= t("enums.facility.category.#{facility.category}", default: facility.category) %>
      </span>
    </div>

    <div class="mt-2">
      <% if facility.images.attached? %>
        <% begin %>
          <%= image_tag facility.images.first.variant(resize_to_limit: [640, 480]).processed,
                class: "block max-h-[320px] w-full rounded-md object-cover" %>
        <% rescue ActiveStorage::FileNotFoundError, Errno::ENOENT %>
          <%= image_tag "sample.png", class: "block max-h-[320px] w-full rounded-md object-cover" %>
        <% end %>
      <% else %>
        <%= image_tag "sample.png", class: "block max-h-[320px] w-full rounded-md object-cover" %>
      <% end %>
    </div>

    <!-- ２段目：住所 ＋ 概要＋ お気に入りボタン ＋ 詳細ボタン -->
    <h3 class="truncate text-lg font-semibold text-gray-900 mb-2"><%= facility.title %></h3>
    <div class="flex flex-col min-w-0">
      <div class="mt-2 space-y-1 text-lg text-gray-900">
        <p><%= t('form.address_info.address') %>：<%= facility.respond_to?(:full_address) ? facility.full_address : [facility.prefecture_name, facility.city, facility.street, facility.building].compact.join %></p>
        <p><%= t('form.basic_info.overview') %>：<%= facility.overview %></p>
      </div>


      <% if user_signed_in? && facility.user_id != current_user.id %>
        <div class="mt-3 ml-auto text-end " id="<%= dom_id(facility, :favorite_buttons) %>">
          <%= render "facilities/favorite_buttons", facility: facility %>
        </div>
      <% end %>

      <!-- 施設詳細ページでは詳細ボタンを表示させない -->
      <% unless current_page?(facility_path(facility)) %>
        <div class="mt-4 flex justify-end md:mt-auto"> <!-- CHANGED: md 以上で下寄せ（mt-auto） -->
          <%= link_to t('buttons.detail'), facility_path(facility), class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

