<% content_for :title, t('show_facility') %>

<div class="md:w-2/3 w-full">
  <%= render "shared/flash_message" %>

  <h1 class="font-bold text-4xl"><%= t('show_facility') %></h1>

  <%= render 'facilities/facility',facility: @facility, show_actions: false %>

  <% marker =
    if @facility.latitude.present? && @facility.longitude.present?
      [{
        id:      @facility.id,
        lat:     @facility.latitude.to_f,
        lng:     @facility.longitude.to_f,
        title:   @facility.title,
        address: @facility.respond_to?(:full_address) ? @facility.full_address : [@facility.prefecture&.name, @facility.city, @facility.street, @facility.building].compact.join,
        url:     facility_path(@facility)
      }]
    else
      []
    end
  %>

  <div id="index-map"
      class="mt-6 h-[480px] w-full rounded-md border border-gray-200"
      style="min-height: 480px"
      data-markers="<%= marker.to_json %>"
      data-zoom="8"
      data-min-zoom="6"
      data-zoom-single="16">
  </div>

  <%= link_to t('buttons.back_to_list'), facilities_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>

  <%# 投稿者がログインユーザーと同じ場合、編集・削除ボタンを表示 %>
  <% if @facility.user == current_user %>
  <%= link_to t('helpers.facilities.edit'), edit_facility_path(@facility), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to t('helpers.facilities.delete'), @facility, method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  <% end %>
  </div>

  <%= render 'comments/form', facility: @facility, comment: @comment %>
  <%= render @comments, facility: @facility %>
</div>
