<div class="w-full mt-4">
  <div class="grid grid-cols-2 sm:grid-cols-5 gap-2">
    <% q_base = @q_params.to_h %>

    <%= link_to "一覧",
    facilities_path(q: q_base.except(:category_eq), page: nil),
    class: "btn-navbar bg-yellow-300" %>

    <%= link_to "宿泊施設",
    facilities_path(q: q_base.merge(category_eq: Facility.categories[:accommodation]), page: nil),
    class: "btn-navbar bg-green-300" %>

    <%= link_to "飲食店",
    facilities_path(q: q_base.merge(category_eq: Facility.categories[:restaurant]), page: nil),
    class: "btn-navbar bg-red-300" %>

    <%= link_to "レジャー施設",
    facilities_path(q: q_base.merge(category_eq: Facility.categories[:leisure]), page: nil),
    class: "btn-navbar bg-blue-300" %>

    <%= link_to "ショップ",
    facilities_path(q: q_base.merge(category_eq: Facility.categories[:shop]), page: nil),
    class: "btn-navbar bg-purple-300" %>

  </div>
</div>